<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={{url_for('static',filename="main.css")}}>
    <title>{{title}}</title>
</head>
<body>

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Tejprakash</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link {% block nav_home_active %}{% endblock %}"
                       href={{url_for('main.home')}}>Home</a>
                    <a class="nav-item nav-link {% block nav_about_active %}{% endblock %}"
                       href={{url_for('main.about')}}>About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link {% block nav_new_active %}{% endblock %}"
                       href={{url_for('posts.new_post')}}>New Post</a>
                    <a class="nav-item nav-link {% block nav_profile_active %}{% endblock %}"
                       href={{url_for('users.profile')}}>My Profile</a>
                    <a class="nav-item nav-link {% block nav_logout_active %}{% endblock %}"
                       href={{url_for('users.logout')}}>Logout</a>
                    {% else %}
                    <a class="nav-item nav-link {% block nav_login_active %}{% endblock %}"
                       href={{url_for('users.login')}}>Login</a>
                    <a class="nav-item nav-link {% block nav_register_active %}{% endblock %}"
                       href={{url_for('users.register')}}>Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row">
        <!-- <div class="col-md-2" style="padding-right: 2px">
             <div class="card">
                 <img class="card-img-top" src={{url_for('static',filename='pics/mypic.jpg')}} alt="Card image">
                 <div class="card-body">
                     <h5 class="card-title">Tejprakash Kumawat</h5>
                     <p class="card-text">Some example text.</p>
                     <a href={{url_for('users.profile')}} class="btn btn-outline-info ">See Profile</a>
                 </div>
             </div>
         </div>-->
        {% if current_user.is_authenticated %}
        <div class="col-md-2" style="padding-right: 2px">
            <div class="card">
                <img class="card-img-top" src={{url_for('static',filename="pics/"+current_user.image)}} alt="Profile pic">
                <div class="card-body">
                    <h6 class="card-title">Tejprakash Kumawat</h6>
                    <p class="card-text">{{current_user.email}}</p>
                    <a href={{url_for('users.profile')}} class="btn btn-outline-info ">See Profile</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-2" style="padding-right: 2px">
            <div class="content-section">
                <h5 align="center">Notifications</h5>
                <p class='text-muted  border-top pt-2'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>My posts</small>
                    </li>
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>Notifications</small>
                    </li>
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>Calendars</small>
                    </li>
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>etc</small>
                    </li>
                </ul>
                </p>
            </div>
        </div>

        {% endif %}
        <div class="col-md-7">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}  alert-dismissible" data-dismiss="alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-3" style="padding-left: 2px">
            <div class="content-section">
                <h5>Our Sidebar</h5>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>My posts</small>
                    </li>
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>Notifications</small>
                    </li>
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>Calendars</small>
                    </li>
                    <li class="list-group-item list-group-item-light" style="padding-left: 5px">
                        <small>etc</small>
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>